<meta name="viewport" content="width=device-width, initial-scale=1", http-equiv="Content-Type" content="text/html"; charset="UTF-8">
<title>Blog</title>
<!--<script src="https://modernizr.com/download?setclasses"></script>-->
<link rel="stylesheet" href="screen.css" type="text/css" />
<link rel="stylesheet" href="screen_blog.css" type="text/css" />
<link rel="stylesheet" href="font-awesome.min_1.css">


<!--<meta name="viewport" content="width=device-width, initial-scale=1", http-equiv="Content-Type" content="text/html"; charset="UTF-8">
<title>Blog</title>
<script src="https://modernizr.com/download?setclasses"></script>
<link rel="stylesheet" href="font-awesome.min.css">
<style>
  @import url(screen.css);
  @import url(screen_blog.css);
</style>-->
