@charset "UTF-8";
/*@import url(font-awesome.min.css);*/
@import url("http://fonts.googleapis.com/css?family=Roboto:500,300");

@font-face {
 font-family: Fontawesome; /* Гарнитура шрифта */
 src: url(fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
  }

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

body {
	background: #fff;
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
}

header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 40px;
	height: 40px;
	background: #7075b9;
	border-bottom: solid 8px #ffca2d;
}
header h1 {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 19px;
	left: 35px;
	top: 0;
	color: #d8daf9;
	font-weight: 400;
	height: inherit;
}
header nav {
	/*position: absolute;*/
	text-align: center;
	height: inherit;
	line-height: inherit;
	vertical-align: middle;
}
header nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav > ul > li {
	display: inline-block;
	margin-right: 15px;
}
header nav > ul > li a {
	display: inline-block;
	color: #d8daf9;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}
header nav > ul > li a:hover {
	color: #ffdd1f;
}
header nav > ul > li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 720px) {
	.container h1 {
		display: block;
		float: none;
		margin: 0;
	}
}
@media screen and (max-width: 410px) {
	.container h1 {
		float: left;
	}
}
@media screen and (max-width: 340px) {
	.container h1 {
		visibility: hidden;
	}
}
/*@media screen and (max-width: 720px) {
	.container nav {
		float: left;
	}
}*/
.container nav label {
	display: none;
	position: fixed;
	padding: 0 15px 0 5px;
	font-size: 24px;
	color: #c8caed;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 50;
}
@media screen and (max-width: 720px) {
	.container nav label {
		display: block;
	}
}
.container nav input[type="checkbox"] {
	display: none;
}
@media screen and (max-width: 720px) {
	.container nav input[type="checkbox"]:checked + ul {
		left: 0;
	}
}
@media screen and (max-width: 720px) {
	.container nav ul {
		background-color: #7075b9;
		position: fixed;
		left: -250px;
		top: 0;
		bottom: 0;
		width: 230px;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
		box-shadow: 2px 2px 5px black;
	}
}
@media screen and (max-width: 720px) {
	.container nav ul li {
		display: block;
		margin: 0;
		padding: 15px 15px;
		border-bottom: 1px solid #ccc;
	}
	.header nav ul li:nth-child(1) {
		border-top: 1px solid #ccc;
		margin-top: 60px;
	}
}

.button {
	display: inline-block;
	background-color: #686898;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 0;
	border-radius: 6px;
	border: 0;
	text-decoration: none;
	color: #e2e2f5 !important;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 28px;
	padding: 0 10px;
	text-align: center;
	white-space: nowrap;
	letter-spacing: 1px;
	text-indent: 2px;
}
ul.actions {

	list-style: none;
	cursor: default;
}
ul.actions li {
	display: inline-block;
	padding-right: 20px;
	vertical-align: middle;
}
ul.actions li:last-child {
  padding-right: 0;
}
#banner .button {
	min-width: 80px;
}
.button.special {
	background-color: #666ed6;
	color: white;
}
.button.special:hover {
	background-color: #828aec;
}
.button.alt:hover {
  background-color: rgba(109, 109, 154, 0.7);
}


footer {
  position: relative;
	padding: 30px 10px;
	background: #7075b9;
}

footer ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  list-style: none;
  height: inherit;
  padding: 18px 19px;
}
footer ul li {
	display: inline-block;
	margin-right: 10px;
	font-size: 25px;
	color: #fff;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 50;
  vertical-align: middle;
}
footer p {
  /*margin-top: 18px;*/
  text-align: right;
  font-size: 11px;
	color: #f3e3f6;
}

/*@media screen and (max-width: 800px) {
	.footer ul {
		display: block;
		float: none;

	}
}*/
@media screen and (max-width: 410px) {
  footer p {
		margin-top: 28px;
	}
}
@media screen and (max-width: 340px) {
	footer p {
		margin-top: 28px;
	}
}
