/*@import url(http://fonts.googleapis.com/css?family=Merriweather);*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
html, body {
	font-size: 11px;
  background: #eaebf3;
}

header {
	height: 48px;
}
#banner {
	position: relative;
	background-image: url(img/44.jpg);
	background-color: #b0b0d9;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 160px 0 160px;
	margin-bottom: 20px;
	color: #bdb6b5;
}
#banner h2 {
	font-size: 40px;
	color:#ddddf6;
	line-height: 10px;
	padding: 0 0 25px 0;
	margin: 0
}
#banner p {
	font-size: 17px;
	margin-bottom: 20px;
}
#banner p a {
	text-decoration: none;
	font-weight: 600;
	color: #d1c8c7;
}
.button {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


address {
	margin: 10px;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	line-height: 23px;
}
address span {
	font-weight: bold;
}
h3 {
	/*margin-bottom: 5px;*/
	margin-top: 35px;
	color: #383877;
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
}


/*.hcontact {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}*/

form {
  max-width: 600px;
  text-align: center;
  margin: 15px auto 20px;
}
form input, form textarea {
	display: block;
	width: 100%;
	margin-top: 10px;
  border: 0;
  outline: 0;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #5d5d5f !important;
  -webkit-box-shadow: 0 0px 2px #5d5d5f !important;
  box-shadow: 0 0px 2px #5d5d5f !important;
}
form .input-submit {
  color: white;
  background: #3e49d4;
  cursor: pointer;
}
form .input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
	font-family: "Tahoma", sans-serif;
	font-size: 13px;
  height: 126px;
}
#input-submit {
  text-transform: uppercase;
  font-weight: 600;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 10px;
}
.right {
  width: 50%;
}
.left {
  margin-right: 2%;
}
