*{
	margin: 0;
	padding: 0;
}
#banner {
	position: relative;
	background-image: url(img/44.jpg);
	background-color: #b0b0d9;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 160px 0 160px;
	margin-bottom: 20px;
	color: #bdb6b5;
}
#banner h2 {
	font-size: 40px;
	color:#ddddf6;
	line-height: 10px;
	padding: 0 0 25px 0;
	margin: 0
}
#banner p {
	font-size: 17px;
	margin-bottom: 20px;
}
#banner p a {
	text-decoration: none;
	font-weight: 600;
	color: #d1c8c7;
}


.container1 {
  margin: 20px auto;
  width: 90%;
  max-width: 940px;
}
.col, .col-9, .col-7, .col-3, .col-5 {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}
.col-9 {
  width: 62%;
}
.col-3 {
  padding: 10px 10px 10px;
  background: #f8f8f8;
  width: 28%;
}
.widget {

}

.clear {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.clearfix:after {
    clear:both;
    content:' ';
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    visibility:hidden;
    width:0
}
.widget {
  margin-top: 31px;
}
.widget:nth-of-type(1) {
  margin-top: 0;
}

/* ================= Блог ================= */
.blogpost {
	margin-bottom: 35px;
}
.blogpost .title {
	font-size: 25px;
	text-decoration: none;
	color: #464694;
	font-weight: 500;
}
.blogpost .title:hover {
	color: #9a9ae1;
}
.post ul {
	list-style: none;
	border-bottom: solid 1px #d7d7dd;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.post ul li {
	display: inline-block;
	margin: 0 15px 0 0;
	font-size: 11px;
	line-height: 11px;
	color: #a4a4a5;
}
.post ul li a {
	text-decoration: none;
	color: #464694;
}
.date_no {
	display: none;
}
.author {
	text-transform: uppercase;
}
.blogpost img {
	margin: 10px 0 15px 0;
	max-width: 100%;
}
.teg ul {
	float: right;
	list-style: none;
}
.teg ul li {
	display: inline-block;
	margin-right: 15px;
	font-size: 11px;
	line-height: 11px;
	color: #a4a4a5;
}
.teg ul li a {
	text-decoration: none;
	color: #464694;
}
.blogpost p {
	margin-bottom: 12px;
}
.button_more {
	float: left;
	text-decoration: none;
	background: url(img/read_more.jpg) no-repeat left 6px;
	padding: 4px 0 0 15px;
	color: #545455;
	text-transform: uppercase;
	font-weight: bold;
}

/* ================= Топ постов ================= */

.col-3 h2 {
  margin-bottom: 5px;
  color: #424abc;
  font-size: 17px;
  text-transform: uppercase;
}
.top {
	margin: 0 0 15px 0;
}
/*.top .img {
	width: 30%;
	float: left;
	margin: 6px;
	border: 1px solid #aaa;
}*/
.top .image img {
	margin: 0;
	padding: 0;
	float: left;
  /*width: 50px;*/
	max-width: 100%;
}
.top .text {
	float: right;
	width: 72%;
}
.top .text a.title {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #3d3d76;
	font-weight: bold;
}
.top .text a.title:hover {
	color: #8383b5;
}
.top .text .date {
	color: #929294;
}

/* ================= Последние посты ================= */
.last {
  padding: 0 0 10px;
}
.last .title {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 600;
}
.last .title:hover {
  color: #818182;
}
.last .date {
	color: #929294;
}


/* ================= Категории ================= */
.categories > ul {
  list-style: none;
}
.categories > ul > li a {
  display: block;
  margin-left: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #3d3d76;
}
.categories > ul > li a:hover {
	color: #8383b5;
}
