<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <% include ../partials/header_b.ejs %>
</head>
<body>
	<header class="container">
		<h1>Мой сайт</h1>
		<nav>
			<label for="menu-trigger">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</label>
			<input type="checkbox" id="menu-trigger" />
			<ul>
				<li><a href="index.ejs">Главная</a></li>
				<li><a href="site.html">О сайте</a></li>
				<li><a href="blog.ejs">Блог</a></li>
				<li><a href="contacts.ejs">Контакты</a></li>
			</ul>
		</nav>
	</header>
	<section id="banner">
		<article>
			<hgroup>
				<h2>Блог</h2>
			</hgroup>
			<p>Quis nostrud exercitation ullamco. <a href="#">Nulla pariatur.</a></p>
			<ul class="actions">
				<li><a href="login.html" class="button special">Вход</a></li>
				<li><a href="login.html" class="button alt">Регистрация</a></li>
			</ul>
		</article>
	</section>
	<main class="container1 clearfix">
		<section class="col-9 clearfix">
			<div class="content clearfix">
			<article class="blogpost clearfix">
				<div class="post clearfix">
					<ul>
						<li><div class="date_no">20 October 2016</div></li>
						<li><div class="date">27 Октября</div></li>
						<li><a href="#" class="author">Алина Ефремова</a></li>
					</ul>
				</div>
				<div class="clear"></div>
				<a href="#" class="title">Duis aute irure dolor</a>
				<div class="clear"></div>
				<img src="img/33.jpg" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				<div class="clear"></div>
				<div class="teg">
					<ul>
						<li><a href="#" class="number_comments">37 комментариев</a></li>
						<li>Категория: <a href="#">Новости</a></li>
						<li>Тег: <a href="#">Украина</a></li>
					</ul>
						<!--<div class="date_no">20 October 2016</div>
						<div class="date">27 Октября</div>
						<div class="author"><a href="#">Алина Ефремова</a></div>
						<div class="number_comments"><a href="#">37 комментариев</a></div>
						<div class="category">Категория: <a href="#">Новости</a></div>
						<div class="category">Тег: <a href="#">Мир</a></div>-->
				</div>
				<a href="#" class="button_more">Читать дальше...</a>
			</article>
			<article class="blogpost clearfix">
				<div class="post clearfix">
					<ul>
						<li><div class="date_no">15 September 2016</div></li>
						<li><div class="date">20 Сентября</div></li>
						<li><a href="#" class="author">Владимир Новиков</a></li>
					</ul>
				</div>
				<div class="clear"></div>
				<a href="#" class="title">Ullamco laboris nisi ut aliquip ex ear</a>
				<div class="clear"></div>
				<img src="img/55.jpg" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				<div class="clear"></div>
				<div class="teg">
					<ul>
						<li><a href="#" class="number_comments">69 комментариев</a></li>
						<li>Категория: <a href="#">События</a></li>
						<li>Тег: <a href="#">Украина</a></li>
					</ul>
				</div>
				<a href="#" class="button_more">Читать дальше...</a>
			</article>
			<article class="blogpost clearfix">
				<div class="post clearfix">
					<ul>
						<li><div class="date_no">8 August 2016</div></li>
						<li><div class="date">28 Августа</div></li>
						<li><a href="#" class="author">Лиза Воронина</a></li>
					</ul>
				</div>
				<div class="clear"></div>
				<a href="#" class="title">Velit esse cillum dolore eu fugiat</a>
				<div class="clear"></div>
				<img src="img/66.jpg" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				<div class="clear"></div>
				<div class="teg">
					<ul>
						<li><a href="#" class="number_comments">143 комментариев</a></li>
						<li>Категория: <a href="#">Общество</a></li>
						<li>Тег: <a href="#">Украина</a></li>
					</ul>
				</div>
				<a href="#" class="button_more">Читать дальше...</a>
			</article>
			</div>
		</section>
		<aside class="sidebar col-3">
			<div class="widget">
					<h2><span>Категория</span></h2>
					<div class="categories">
					<ul>
							<li><a href="#">Новости (103)</a></li>
							<li><a href="#">События (54)</a></li>
							<li><a href="#" class="selected">Общество (72)</a></li>
							<li><a href="#">Видео (44)</a></li>
					</ul>
					</div>
			</div>
			<div class="widget">
				<h2><span>Топ постов</span></h2>
				<div class="top">
						<img src="img/112.jpg" alt="">
					<div class="text">
						<a href="#" class="title">Ullamco laboris nisi</a>
						<!--<div class="clear"></div>-->
						<div class="date">10 сентября 2016, 22.10</div>
						<!--<div class="clear"></div>-->
					</div>
				</div>
				<div class="top">
						<img src="img/113.jpg" alt="">
					<div class="text">
						<a href="#" class="title">Incididunt ut labore</a>
						<!--<div class="clear"></div>-->
						<div class="date">14 августа 2016, 19.30</div>
						<!--<div class="clear"></div>-->
					</div>
				</div>
				<div class="top">
						<img src="img/114.jpg" alt="">
					<div class="text">
						<a href="#" class="title">Consectetur adipisicing elit</a>
						<!--<div class="clear"></div>-->
						<div class="date">6 Мая 2016, 13.20</div>
						<!--<div class="clear"></div>-->
					</div>
				</div>
			</div>
			<div class="widget">
				<h2><span>Последние посты</span></h2>
					<div class="last">
						<a href="#" class="title">Exercitation ullamco laboris nisi ut</a>
						<div class="date">15 ноября 2016, 18.30</div>
					</div>
					<div class="last">
						<a href="#" class="title">Sed do eiusmod tempor incididunt</a>
						<div class="date">2 ноября 2016, 10.00</div>
					</div>
					<div class="last">
						<a href="#" class="title">Ut enim ad minim veniam, quis</a>
						<div class="date">24 октября 2016, 15.45</div>
					</div>
				</div>
			</div>
		</aside>
	</main>
	<footer>
		<ul>
			<li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
			<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
			<li><i class="fa fa-instagram" aria-hidden="true"></i></li>
		</ul>
		<p>&copy; 2016, Терентьева Ирина. Все права защищены</p>
	</footer>
</body>
</html>
