<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <header>
        <div class="search">
            <input type="submit" value="&#xf002;" class="search-btn fa ib-m">
            <div class="search-slide ib-m">
        		<input type="text" placeholder="Enter your search" class="ib-m">
                <div class="search-close ib-m"><i class="fa fa-times"></i></div>
        	</div>

        </div>
        <div id="hamburger-menu"><a class="img-replace" href="#">Menu</a></div>
    </header>

    <nav id="main-nav">
        <ul>
            <li><a class="current" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

	<main>

    </main>

    <div id="shadow-layer"></div>


<span class='Top'><i class='fa fa-chevron-up'></i></span>
<!-- / Product Templates for Shop & Cart -->

<script src="js/jquery.min.js"></script>

<script>

</script>
</body>
</html>
