<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset='UTF-8'>
	<title>Home Page</title>
	<link rel='stylesheet'  href='css/main.css'>
</head>

<body>
<div class="top-bar">
  <div class="bar-inside">
    <h2>
      <a href="/">NODEJS Example</a>
    </h2>
  </div>

</div>
	<div id="page-wrap">
	  <h1>Hello There!</h1>
    <div class="tabs">
       <div class="tab">
           <input type="radio" id="tab-1" name="tab-group-1" checked>
           <label for="tab-1">AJAX</label>
           <div class="content">
               <p>Stuff for Tab One</p>
			   <button  id="button" onclick="loadTest()">Загрузить test!</button>

		       <script>
			   function loadTest() {
				 var xhr = new XMLHttpRequest();

				 xhr.open('GET', '/public/test.html', true);
				 xhr.send(); // (1)

				 xhr.onreadystatechange = function() { // (3)
					 if (xhr.readyState != 4) return;

					 button.innerHTML = 'Готово!';

					 if (xhr.status != 200) {
					   // обработать ошибку
					   alert('Ошибка ' + xhr.status + ': ' + xhr.statusText);
					 } else {
					   // вывести результат
					   console.log(xhr.responseText);
					 }

				   }
				 button.innerHTML = 'Загружаю...'; //2
				 button.disabled = true;
			   }
		       </script>
           </div>
       </div>

       <div class="tab">
           <input type="radio" id="tab-2" name="tab-group-1">
           <label for="tab-2">Tab Two</label>
           <div class="content">
               <p>Stuff for Tab Two</p>
			   <img src="images/1.jpg" />
           </div>
       </div>

        <div class="tab">
           <input type="radio" id="tab-3" name="tab-group-1">
           <label for="tab-3">Tab Three</label>
           <div class="content">
               <p>Stuff for Tab Three</p>
			   <img src="images/2.jpg" />
           </div>
       </div>
    </div>

</div>

</body>

</html>
