<!DOCTYPE html>
<html lang="en">
<head>


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <% include ../partials/header.ejs %>
</head>
<body>
  <form class="form-inline" id="top">
    <div class="form-group">
      <label for="exampleInputName2">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Пароль</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
    </div>
    <button type="submit" class="btn btn-default">Войти</button>
  </form>

  <section class="top-menu">
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="navbar-collapse collapse" id="nav-bar">
              <ul class="nav navbar-nav navbar-right" >
                <li class="active"><a href="#top">О компании</a></li>
                <li><a href="#service">Клиентам</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#blog">Блог</a></li>
                <li><a href="#contact">Контакты</a></li>
              </ul>
            </div>
      </div>
    </div>
  </section>


  <section>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-caption">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
        <a class="btn btn-lg btn-orange" href="#" role="button">Читать больше</a>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        <p class="quote">Mauris sit amet mauris a arcu eleifend ultricies eget ut dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    		<p class="author">— Id Sagittis</p>
    		<p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
    		<p class="author">— Nullam Id</p>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p class="middle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Mauris sit amet mauris a arcu eleifend ultricies eget ut dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      </div>
    </div>
  </div>
  <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section class="service" id="service">
    <div class="title text-center">
        <span class="title">Клиентам</span>
        <hr />
        <p class="slogan">Lorem ipsum dolor sit amet, consect adipiscing elit. Etiam metus libero mauriec ignissim fermentum.</p>
    </div>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="service-item">
                      <div class="title-service">
                        <ul>
                          <li>
                            <img src="img/bel1.jpg" alt="img" class="img-circle">
                          </li>
                          <li>
                            <span class="service-item-header">Тарифы</span>
                          </li>
                        </ul>
                        <!--<div class="img"></div>-->
                        <!--<img src="img/icon.jpg" alt="icon" />-->
                        <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <div class="text-center">
                          <a href="#" class="btn-read-more btn btn-blue">Читать далее</a>
                      </div>
                      <br class="clearfix"/>
                  </div>
                  <div class="clearfix"></div>
              </div>

              <div class="col-md-4">
                  <div class="service-item">
                      <div class="title-service">
                        <ul>
                          <li>
                            <img src="img/bel2.jpg" alt="img" class="img-circle">
                          </li>
                          <li>
                            <span class="service-item-header">Оплата</span>
                          </li>
                        </ul>
                          <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                      </div>
                      <p>Ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <div class="text-center">
                          <a href="#" class="btn-read-more btn btn-blue">Читать далее</a>
                      </div>
                      <br class="clearfix"/>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="service-item">
                      <div class="title-service">
                        <ul>
                          <li>
                            <img src="img/bel3.jpg" alt="img" class="img-circle">
                          </li>
                          <li>
                            <span class="service-item-header">Дополнительные услуги</span>
                          </li>
                        </ul>
                          <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                      </div>
                      <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <div class="text-center">
                          <a href="#" class="btn-read-more btn btn-blue">Читать далее</a>
                      </div>
                      <br class="clearfix"/>
                  </div>
                  <br class="clearfix"/>
              </div>
          </div>
      </div>
  </section>

  <section class="portfolio" id="portfolio">

    <div class="container">
      <div class="row">
        <div class="text-center">
          <div class="line-header" >
            <div class="title text-center">
                <span class="title">Портфолио</span>
                <hr />
            </div>
          </div>
          <div class="clearfix"></div>

          <ul class="project-gallery" >
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal1.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal2.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal3.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal4.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal5.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal6.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal7.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal8.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal9.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
              <a class="colorbox" data-group="gallery-graphic">
              <div class="project-box">
                <img src="img/gal10.jpg" class="img-rounded" alt="gallery" />
                <div class="project-overlay">
                  <h5>Commodo</h5>
                  <hr />
                </div>
              </div>
              </a>
            </li>

          </ul>

        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="text-center">
        <a href="#" class="btn-read-more btn btn-blue">Загрузить еще</a>
    </div>
  </section>

  <section class="blog" id="blog">
    <div class="container">
      <div class="line-header" >
        <div class="title text-center">
            <span class="title">Блог</span>
            <hr />
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="text-center">
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="img/2a.jpg" alt="gallery">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Excepteur sint</h4>
                  <ul>
        						<li><div class="date">27/05/2016</div></li>
        						<li><a href="#" class="author">Алина Ефремова</a></li>
        					</ul>
                  <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="text-right">
                      <a href="#" class="btn-read-more btn btn-blue">Читать далее</a>
                  </div>
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="img/2c.jpg" alt="gallery">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Cupidatat non</h4>
                  <ul>
        						<li><div class="date">05/06/2016</div></li>
        						<li><a href="#" class="author">Владимир Новиков</a></li>
        					</ul>
                  <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="text-right">
                      <a href="#" class="btn-read-more btn btn-blue">Читать далее</a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="img/2b.jpg" alt="gallery">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Fugiat nulla</h4>
                  <ul>
                    <li><div class="date">13/06/2016</div></li>
    						    <li><a href="#" class="author">Олег Тихонов</a></li>
                  </ul>
                  <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="text-right">
                      <a href="#" class="btn-read-more btn btn-blue">Читать далее</a>
                  </div>
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="img/2d.jpg" alt="gallery">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Irure dolor</h4>
                  <ul>
                    <li><div class="date">21/07/2016</div></li>
    						    <li><a href="#" class="author">Семен Смехов</a></li>
        					</ul>
                  <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="text-right">
                      <a href="#" class="btn-read-more btn btn-blue">Читать далее</a>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="container">
      <div class="line-header" >
        <div class="title text-center">
            <span class="title">Контакты</span>
            <hr />
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="text-center">
        <div class="row">
          <div class="col-md-7">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6034.947695310057!2d30.446026567997063!3d50.50844121912137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d27fee1db6a7%3A0x1ca90de8d7a1f6c2!2z0LLRg9C70LjRhtGPINCS0LjRiNCz0L7RgNC-0LTRgdGM0LrQsCwg0JrQuNGX0LI!5e0!3m2!1sru!2sua!4v1482948473827" width='600' height='450' frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-md-5">
            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit pendisse as a molesti.</p>
            <p>Киев, Вышгородская, 18</p>
            <p>044-555-33-77</p>
            <p><a class="link_orange" href="#"><span class="txt_orange">www.company.com</span></a></p>
            <form class="form-horizontal" action="#">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Имя..." maxlength="40" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email..." maxlength="40" />
                </div>
                <div class="form-group">
                    <textarea  class="form-control" style="height: 130px;" placeholder="Сообщение..."></textarea>
                </div>
                <button type="submit" class="btn btn-blue pull-right">Отослать</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <div class="footer_container">
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <span class="social-icon-fb"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-instagram"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-twitter"></span>
                    </a>
                </li>
            </ul>
          <div class="footer_bottom_content">
            <p>&copy; 2016, Терентьева Ирина. Все права защищены</p>
          </div>
          <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Вернуться наверх</a>

        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
  <script src="jquery_lib/jquery-3.0.0.min.js"></script>
  <script src="jquery_lib/jquery-migrate-1.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min_1.js"></script>
</body>
</html>
